<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WebUpdateClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings><add key="WebUpdateClient.ws_update.Update" value="http://10.8.30.45:89/Update.asmx"/></appSettings><applicationSettings>
        <WebUpdateClient.Properties.Settings>
            <setting name="WebUpdateClient_ws_update_Update" serializeAs="String">
                <value>http://10.8.30.45:89/Update.asmx</value>
            </setting>
        </WebUpdateClient.Properties.Settings>
    </applicationSettings>
</configuration>
